* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #D5E4A2;
  text-align: center;
}

h1{
    color: #644536;
    font-size: 6vmin;
}

.container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}

.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0,0,0,0.5);
  font-size: 8vmin;
  color: #8B564A;
  background-color: #BBD686;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #644536;
    color: white;
    border: none;
    border-radius: 1.25rem;
}
